
Library/PackageCache/com.ptc.vuforia.engine@8.5.9/Vuforia/Plugins/OSXUniversal/VuforiaWrapper.bundle/Contents/Info.plist.meta
Library/PackageCache/com.ptc.vuforia.engine@8.5.9/Vuforia/Plugins/OSXUniversal/VuforiaWrapper.bundle/Contents/Resources/en.lproj/InfoPlist.strings
Library/PackageCache/com.ptc.vuforia.engine@8.5.9/Vuforia/Plugins/OSXUniversal/VuforiaWrapper.bundle/Contents/Resources/en.lproj/InfoPlist.strings.meta
